html {
	margin: 10px;
	background-color: wheat;
}

h1,
h2 {
	margin: 5px;
	padding: 10px;
}

form {
	padding: 10px;
}

ul,
li {
	display: block;
	list-style-type: none;
}

.clickable {
	cursor: pointer;
	display: block-inline;
}

.deleteButton {
	color: white;
	font-weight: bold;
	background-color: slateblue;
	margin-right: 10px;
	border-style: inherit;
	border-radius: 50%;
}
